*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.checkmark{
  border: 1px solid green;
  border-radius: 50%;
  color: green;
}

.cross{
  border: 1px solid red;
  border-radius: 50%;
  color: red;
}

.intestazione{
  height: 80px;
  border: 1px solid black;
  padding-top: 10px;
  vertical-align: middle;
  background-image: url("Logo.png");
  background-position: left;
  background-repeat: no-repeat;


}

.testologo{
  font-size: 50px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 20px;

}

.todos{
  height: 650px;
  background-color: lightgrey;
  font-family: 'Lobster', cursive;
}

.bottoni{
  width: auto;
  margin: 40px 20% 0 20%;
  height: 60px;
  border: solid 1px black;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 50px;
  background-color: white;

}

#addtask{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: lightblue;

}
#addsection{
  color: lightgrey;
  background-color: white;
  width: 90px;
  height: 30px;
  text-align: center;

}

.principale{
padding-top: 40px;
height: 550px;
border: 1px solid black;
margin: 1px 20%;
background-color: white;

}

.triangolo{
  padding-left: 50px;
}

.elenco1{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

.quarterly{
  padding-left: 50px;
  margin-top: 10px;
  font-size: 50;
  margin-bottom: 20px;

}

.editorial{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: blue;
  border-radius: 10px;
}
.Today{
  margin-bottom: 10px;
}
.recruiting{
  padding-left: 50px;
  margin-bottom: 10px;
}
.mobile{
  padding-left: 50px;
  margin-bottom: 10px;
}

#Q1Goals{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: purple;
  border-radius: 10px;
}
.Interview{
  padding-left: 50px;
  margin-bottom: 10px;
}

#recruiting{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: green;
  border-radius: 10px;
}
.summit{
  padding-left: 50px;
  margin-bottom: 10px;
}
#Mobile{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: orange;
  border-radius: 10px;
}

.Upcoming{
  margin-bottom: 10px;
}

.schedule{
  padding-left: 50px;
  margin-bottom: 10px;
}
.Homepage{
  padding-left: 50px;
  margin-bottom: 10px;
}
#Website{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: pink;
  border-radius: 10px;
}
.Onboard{
  padding-left: 50px;
  margin-bottom: 10px;
}
#Sales{
  color: white;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: darkgreen;
  border-radius: 10px;
}
.Review{
  padding-left: 50px;
  margin-bottom: 10px;
}
